source https://www.nuget.org/api/v2/
framework: >= net40
nuget FAKE prerelease
nuget FSharp.Core redirects: force
nuget FsCheck
nuget Nuget.CommandLine
nuget NUnit.Runners
nuget FSharp.Compiler.Service
nuget FsUnit framework: >= net45